body {
    margin: 0;
    padding: 0;
}

label {
    z-index: 5;
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
}

.sidebarel {
    margin-bottom: 20px;
}

.page-content {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    transition-duration: 0.4s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    right: 0;
    bottom: 0;
    color: white;
    font-family: sans-serif;
    width: 140px;
    padding: 30px;
    background-color: #9696c8;
    z-index: 0;

    transition-duration: 0.4s;
}

.footer {
    color: #c8c8c8;
    position: absolute;
    bottom: 0;
}

.toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    color: #9696c8;
    transition-duration: 0.4s;
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked + .page-wrap .sidebar {
    left: 0;
}

#sidebartoggler:checked + .page-wrap .toggle {
    left: 200px;
}

#sidebartoggler:checked + .page-wrap .page-content {
    padding-left: 200px;
}

button {
    background-color: white;
    border: none;
    color: #c8c8c8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

canvas:active {
    cursor: crosshair;
}